@charset "utf-8";
/*-----------------------------------------------------	
 *	author:		nope.com by Dana O'Rourke @ CupofTeaCreations.com
-------------------------------------------------------

	Section Index
	
	@reset
	@general
	@header
	@content
	@footer
	
-------------------------------------------------------*/

/* @reset - based off html5reset.com
-------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
html {overflow-y: scroll;}
body {line-height: 1;}
focus {outline: 1;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, video {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a, img {border: 0; outline: none;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
table {border-collapse: collapse; border-spacing: 0;}
input, select {vertical-align: middle;}

/* @general
-------------------------------------------------------*/
html {background: #EEEEEE; color: #080808; font: 16px/1.33 Helvetica, Arial, sans-serif; width: 100%;}
body {padding: 2em 1em; margin: 0 auto; max-width: 900px;}
h1, h2, h3 {padding: 1em 0;}
input, select, option {font: 16px/1.33 Helvetica, Arial, sans-serif;}
a, a:visited {color: #080808; text-decoration: none;}


/* @header
-------------------------------------------------------*/

#header {border-bottom: 1px solid #cccccc; overflow: auto; padding-bottom: 1em;}
	#header h1 {font-size: 4.2em; padding: 0;}

/* @content
-------------------------------------------------------*/
#content {padding: 1em 0;}
	#content h1 {font-size: 3em;}
	#content h2 {font-size: 2.5em; padding: .5em 0;}
	#content h3, #content h4, #content h5, #content h6 {font-size: 2em; padding: .5em 0;}
	#content p {padding: 1em;}
	#content ul, #content ol {margin: 0 1em; padding: 1em 0;}
		#content li {margin-left:1em; padding-bottom: 1em;}

/* @footer
-------------------------------------------------------*/
#footer {border-top: 1px solid #cccccc; padding-top: 1em; margin-top: 1em; text-align: center;}